body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.myDropDown{

  max-height: 10vh;
  overflow-y: scroll;
  }

  .select{
    max-height: 30vh;
    margin-bottom: 40px;
    overflow-y: scroll;
    }

    .thisButton{
     margin-bottom: 20px;
    }

    .feedback{
      color:green;
    }